@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: black;
}



ul li a {
    color: #fff;
    font-weight: 500;
}

ul li a:hover {
    background-color: #fff;
    color: #333;
    padding: 0.3rem;
    border: none;
    border-radius: 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.links {
    display: flex;
    gap: 2rem;
}

li:nth-child(5) {
    margin-right: 7rem;
}

.logo {
    margin-left: 15%;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

label {
    /* margin-top: 0.7rem; */
    display: block;
    background-color: #fff;
    color: black;
}

input {
    margin-top: 0.5rem;
    width: 260px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
}

#btn1 {
    margin-top: 1rem;
    display: block;
    width: 260px;
    height: 30px;
    border: none;
}

.head {
    margin-top: -2rem;
    background-color: #fff;
    color: black;
    font-size: 24px;
    font-weight: 800;
}

.form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 350px;
    height: 280px;
    background-color: #fff;
}

.login {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
}

.img1 {
    width: 350px;
    height: 280px;
    background-image: url("travis\ scott.jpg");
    background-position: center;
    background-size: cover;
}